h1.FavTitle{
    margin: 20px !important;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    margin: 8px;
}

div.card{
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}

  img.FavImg.card-img-top{
    border-radius: 5% 5% 0 0;
    padding: 0px;
    margin: 0px;
    border: #cfd4d3;
    border-style: solid;
    border-width:  8px 8px 0 8px;
    height: 260px;
    }

div.FavBody.card-body{
    margin-bottom: 2em;
    background-color:   #cfd4d3;
    font-family: 'Julius Sans One', sans-serif;
    border-radius: 0 0 5% 5%;
    padding: 1em 0em 0em 0em;
    height: 300px;
}

